---
import Footer from '@/components/Footer.astro';
import GoogleAnalytics from '@/components/GoogleAnalytics.astro';
import Navbar from '@/components/Navbar.astro';
import '@/styles/global.css';
import '@fontsource-variable/inter';

interface Props {
  title: string;
  description?: string;
}

const siteName = 'SDKMAN! the Software Development Kit Manager';
const siteDescription =
  'SDKMAN! is a tool for managing parallel versions of multiple Software Development Kits on most Unix based systems.';
const ogImageUrl = '/img/bubble-logo-sdkman-groovy-color.png';

const { title, description = siteDescription } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {siteName}</title>
    <meta name="description" content={description} />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph -->
    <meta property="og:title" content={`${title} | ${siteName}`} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://blackportal.ai/" />
    <meta property="og:locale" content="en" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="SDKMAN!" />
    <meta property="og:image" content={ogImageUrl} />

    <!-- Twitter Open Graph -->
    <meta property="twitter:title" content={`${title} | ${siteName}`} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@sdkman_" />
    <meta property="twitter:creator" content="@sdkman_" />
    <meta property="twitter:image" content={ogImageUrl} />
  </head>

  <body>
    <div
      class="bg-background text-foreground flex h-full min-h-screen flex-col"
    >
      <Navbar />

      <div class="grow">
        <slot />
      </div>

      <Footer />
    </div>
  </body>

  <GoogleAnalytics id="UA-10247295-12" />
</html>

<script is:inline>
  if (
    localStorage.theme === 'dark' ||
    (!('theme' in localStorage) &&
      window.matchMedia('(prefers-color-scheme: dark)').matches)
  ) {
    document.documentElement.classList.add('dark');
  } else {
    document.documentElement.classList.remove('dark');
  }
</script>
